body {
    margin: 0px;
    padding: 0px;
    font-family: 'Rubik', sans-serif;
}

.container{
    max-width: 1100px;
    width: 90%;
    margin: 0 auto;
}

h2{
    width: 100%;
    text-align: center;
}

header {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

header {
    min-height: 50vh;
}

header div {
    max-width: 400px;
    width: 100%;
}

header img {
    width: 100%;
}

header ul {
    margin: 0px;
    padding: 0px 0px 0px 20px;
}

header a {
    color: #892bdf;
    text-decoration: none;
}

main {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-around;
}

.item {
    display: flex;
    flex-direction: column;
    max-width: 360px;
    width: 100%;
    margin: 20px 0px;
    padding: 30px;
    border-radius: 5px;
    transition-duration: .3s;
    box-sizing: border-box;
    flex: 1 auto;
}

.item:hover{
    box-shadow: 0px 0px 5px #ccc;
}

.item-img {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.item img {
    width: 100%;
    height: auto;
    transition-duration: 0.5s;
}

.item img:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.item .technology {
    margin-top: auto;
}

.item .button {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 70%;
    width: 100%;
    height: 40px;
    margin: 0 auto;
    background: #333;
    color: #fff;
    border: 1px solid #333;
    border-radius: 20px;
    transition-duration: 0.5s;
}

.item .button:hover {
    background: #fff;
    color: #333;
    cursor: pointer;
}

.item span {
    color: #483d8b;
}

.item h3 {
    text-align: center;
}
